/*reset*/
*,h1,h2,h3,h4,h5,h6,p,ul,img,div,li{
margin:0;
padding:0;
}

body{
	font-family: "Georgia, serif";
}

.menu{
	background: #252525;
}

.menu a{
	color:white;
	text-decoration: none;
}

.menu li{
	list-style: none;
}

.menu-container{
	max-width: 960px;
	padding: 15px;
	margin: 0 auto;
}

/*pseudoelemento para consertar o float*/
.menu-conatainer::after, .menu-container::before{
display:table;
content:'';
clear:both;
}

.menu-nav{
	float: right;
}

.menu-nav li{
	display: inline-block;
}

.menu-nav li a{
	padding: 15px;
	display: block;
}

.intro{
	padding: 150px 0px;
	text-align: center;
	color: white;
	background: url("../img/bg-intro.jpg")no-repeat center center;
	background-size: cover;
}

.intro h1{
	text-transform: uppercase;
	font-size: 3em;
}

.intro h1::after{
	content: "";
	display:block;
	width: 20px;
	height: 4px;
	background: #fff;
	margin:10px auto;
	transition: 1s;
}

.intro h1:hover::after{
	width: 300px;
}

.intro p{
	font-size: 1.125em;
	font-style: italic;
}

/*sobre*/
.sobre{
	padding:60px 0px;
}

.sobre h2{
	padding-bottom: 60px;
	text-align: center;
	font-size: 2.25em;
}

.sobre-container{
	max-width: 960px;
	margin: 0 auto;
}

/*pseudoelemento para consertar o float*/
.sobre-container::after,
.sobre-container::before{
	content: '';
	display:table;
	clear:both;
}

.sobre-item{
	max-width: 460px;
	float: left;
	margin: 0 10px;
}

.sobre-item h3{
	font-size: 2.25em;
	background: #252525;
	width: 220px;
	color: white;
	text-align: center;
	font-weight: 400;
	font-style: italic;
	padding: 5px 0;
	margin-top: -30px;
	position: relative;
}

.sobre p{
	font-size: 1,125em;
	text-align: center;
	font-style: italic;
	line-height: 1.4em;
	max-width: 460px;
	margin: 20px auto;
}
/*produtos*/

.produtos{
	background: #e7e4d8;
	padding: 60px 0;
	border-top: 3px solid #d6d3c8;
	border-bottom: 3px solid #d6d3c8;
}

.produtos-container{
	margin: 0 auto;
	max-width: 960px;
}

.produtos-item{
	width: 300px;
	margin: 0px 8px;
	display: inline-block;
}

.produtos-item h2{
	text-align: center;
	font-size: 2.25em;
	margin-bottom: 20px;
}

.produtos-item p {
	font-size: 0.875em;
	line-height: 1.4em;
}

.produtos-item h2::before{
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	margin: 20px auto;
	background: currentColor;
	border-radius: 50%;
	border: 5px solid #e4e7d8;
	box-shadow: 0 0 0 5px currentColor;
}

h2.produtos-paulista::before{
	color: #492901;
}

h2.produtos-carioca::before{
	color: #c17139; 
}

h2.produtos-mineiro::before{
	color: #d7a54d; 
}

.produtos-btn{
	display: block;
	width: 180px;
	text-transform: uppercase;
	border: 3px solid #252525;
	color: #252525;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.125em;
	text-align: center;
	padding: 15px 0px;
	margin: 20px auto;
	transition: 0.5s;
}

.produtos-btn:hover{
	color: #e7e4d8;
	box-shadow: 180px 0 0 0 #252525 inset;
}

.locais{
	padding: 60px 0;
}

.locais-container{
	margin: 0 auto;
	max-width: 960px;
	padding: 30px;
}

.locais-container::after,
.locais-container::before{
	content: '';
	display:table;
	clear:both;
}

.locais-item{
	width: 460px;
	padding: 20px;
	float: right;
}

.locais-item img{
	float: left;
	width: 460px;
	margin: 20px auto;
	padding: 20px;
}

.locais-item h2{
	text-align: left;
	font-size: 2.25em;
}

.locais-item p {
	font-size: 1.125em;
	line-height: 1.4em;
	text-align: left;
}

.locais-btn{
	display: block;
	width: 180px;
	text-transform: uppercase;
	border: 3px solid #252525;
	color: #252525;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.125em;
	text-align: center;
	padding: 15px 0px;
	margin: 20px auto;
	transition: 0.5s;
}

.locais-btn:hover{
	color: #e7e4d8;
	box-shadow: 180px 0 0 0 #252525 inset;
}

.assine{
	background: #e7e4d8;
}

.assine-container{
	margin: 0 auto;
	max-width: 960px;
}

.assine-info{
	color: #252525;
	text-decoration: none;
	font-weight: bold;
	font-size: 2.25em;
	text-align: left;
	padding: 15px 0px;
	margin: 20px auto;
}

.assine.info form{
	text-align: right;
}

.assine-info button:hover{
	color: #e7e4d8;
	box-shadow: 180px 0 0 0 #252525 inset;
}

.footer{
	background: #d6d3c8;
s}

.footer-container{
	margin: 0 auto;
	max-width: 960px;
	padding: 40px;
	font-size: 1.125em;
}

.footer-container img{
	float: right;
}

